.signin {
  .small {
    font-size: 80%;
    text-align: center;
  }

  .title {
    margin-bottom: 50px;
  }

  .split-screen {
    display: flex;
    flex-direction: column;
  }

  .left {
    height: 200px;
  }



  .left,
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left {


    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }


  .left .copy {

    color: white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }



  .left p {
    font-weight: 400;
  }



  .right .copy {
    color: black;
    text-align: center;
  }



  .right .copy p {
    margin: 1.5em 0;
    font-size: 0.875rem;
  }



  .right form {
    width: 328px;
  }

  .right {
    padding-top: 50px;
  }



  .signup-btn {
    display: block;
    width: 100%;
    background: #233975;
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }


  .link strong {
    color: #233975;
    cursor: pointer;
  }

  @media screen and (min-width: 900px) {
    .split-screen {
      flex-direction: row;
      height: 100vh;

    }

    .left,
    .right {
      display: flex;
      width: 50%;
      height: auto;
    }

  }

}